// Content width
$width-content:                  970px;
$width-full:                     100%;

// Font family
$font-website:                   'example';

// Font Size
$font-size-body:                 16px;
$font-size-h2:                   36px;
$font-size-h3:                   33px;
$font-size-navi:                 22px;
$font-size-navi-sub:             18px;
$font-size-footer:               12px;

// Line height
$line-height-body:               22px;
$line-height-h2:                 15px;
$line-height-h3:                 39px;
$line-height-navi:               15px;
$line-height-footer:             15px;

// Color
$color-body:                     #777777;
$color-website:                  #39C2D7;
$color-white:                    #FFFFFF;
$color-dark:                     #666666;

/*
	Responsive variable
-------------------------------------*/
$tablet:                         992px;
$mobile:                         568px;
